.sidebar {
  margin-top: 1px;
  width: 15%;
  height: 100dvh;
  background-color: #212529;
  overflow: hidden;
}

.con {
  display: grid;
}


i {
  margin-left: 10px;
  padding: 10px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #212529;
  background-color: #fff;
}